<% content_for :title, "My Inbox" %>
<hr>
<h1>My Inbox</h1>

<p style="color: green"><%= notice %></p>
<hr>
<%= link_to "New chat", new_chat_path %>

<hr>

<div id="chats">
  <%= render @chats %>
</div>


